<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/local_dep/bootstrap-5.0.2-dist/css/bootstrap.css">
  <link rel="stylesheet" href="/styles.css">
  <title>Magpie | <%= title %></title>
</head>